/* @import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css); */
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css); 
/* @import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css); */

.maf {
    /* direction:rtl;
    background:#222;
    color:#2172db;
    padding:5px; */
    font-family: 'Lateef', serif;
    font-weight: 600;
}

/* .amiri{font-family: 'Amiri', serif;}
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}
.droid-arabic-naskh{font-family: 'Droid Arabic Naskh', serif;} */
.lateef{font-family: 'Lateef', serif;}
/* .scheherazade{font-family: 'Scheherazade', serif;}
.thabit{font-family: 'Thabit', serif;} */